<div class="feeds__header">
  <h3>Feeds</h3>
  <div *ngIf="(feeds$ |async).length === 0">
    No items available
  </div>
</div>

<div class="feeds" fxLayout="row wrap" fxLayout.xs="column">

  <div class="feeds__card" fxFlex="33%" fxFlex.sm="50%" *ngFor="let feed of (feeds$ |async), let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{feed.name}}</mat-card-title>
      </mat-card-header>
      <img class="feeds__img" mat-card-image src="{{feed.image}}" alt="{{feed.name}}">
      <mat-card-actions align="end">
        <button *ngIf="!feed.isSubscribed" mat-button color="accent" (click)="suscribe(feed.id, i)">Suscribe</button>
        <button *ngIf="feed.isSubscribed" mat-button disabled>Suscribed</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
