<div class="topnavbar-container alternative" [class.topnavbar-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="topnavbar-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="authenticated$ | async">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="topnavbar-app-name">{{ title }}</h1>
    <span class="topnavbar-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="topnavbar-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <ng-container *ngIf="authenticated$ | async">
        <mat-nav-list>
          <a mat-list-item [routerLink]="nav.link" *ngFor="let nav of navList">{{ nav.name }}</a>
        </mat-nav-list>
        <a mat-button class="topnavbar-container--bottom">
          <span>Log out</span>
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
