.feed-item {
  &__content {
    padding-top: 1em;
  }

  &__img {
    padding: 0.6em;
  }

  &--border-radius {
    border-radius: 50%;
  }
  &--justify {
    text-align: justify;
    text-justify: inter-word;
  }

  @media (min-width: 600px) {
    &__card {
      margin: 5% 15% 0% 15%;
    }
  }
}
